page-login {
  .background{
    height:100%;
    width:100%;
    background: linear-gradient(10deg,#4E5EFC,#4EE7FC)
  }

  .scroll-content{
    text-align: center;
  }

  ion-card.card{
    background: rgba(232, 230, 230, 0.6px);
    border-radius: 10px;
  }

  .item{
    background: rgba(232, 230, 230, 0.6px);
  }

  ion-input{
    border-bottom: grey solid 1px;
  }
  .button{
    margin-top: 10px;
  }
  ion-icon{
    padding-right:4px;
  }
  .h1{
    color:#fff;
    font-size: 3em;
    font-family: 'Gill Sans','Gill Sans MT','sans-serif';
    font-weight: lighter;
  }
  ion-title {
    text-align: center;
  }
}
